.mainContainer {
  min-height: 100vh;
  background: #000000;
  color: #656565;
  position: relative;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 90px;
  gap: 10px;
}

.quote {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.teacherCredit {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: rgba(215, 52, 66, 0.52);
}

.quoteHighlight {
  color: rgb(215, 52, 66, 0.52);
}

.headerIcon {
  color: rgb(215, 52, 66, 0.52);
}
